html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Custom Fonts */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 23, 2020 */

@font-face {
  font-family: 'amienneregular';
  src: url('../fonts/amienne_-webfont.woff2') format('woff2'),
       url('../fonts/amienne_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'festivo_lcbasic';
  src: url('../fonts/festivo-lc-basic-webfont.woff2') format('woff2'),
       url('../fonts/festivo-lc-basic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Breakpoints */
/* 
    mobile portrait: less than 640px
    mobile landscape: > 640px
    tablet portrait: > 768px
    tablet landscape: > 1024px
    laptop: > 1280px 
*/

/* Custom styles */

:root {
  --main-gold: rgba(243,194,111,1);
  --dk-gray: #4E6673; 
  --med-gray: #718EA4;
  --para-font: Arial, Helvetica, sans-serif;  
}

.layout-wrap {
  background-image: url('../images/big_backbone.png');
  background-repeat-x: no-repeat;
  background-position: center;
}

.main-content {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 648px) {
  .main-content {
    width: 100%;
  }

  .layout-wrap {
    background-image: url('../images/longer_mobile_backbone.jpg');
  }
}

.header-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-gold);
  z-index: 20;
  padding: 10px;
  min-height: 60px;
}

.phase-header-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-gold);
  z-index: 20;
  min-height: 60px;
}

.header-nav{
  z-index: 100;
  width: 100%;
  position: absolute;
}

.phase-header-nav {
  /* padding-top: 10px; */
}

.phase-header-nav>ul {
  margin-right: 11% !important;
}

.header-nav>ul {
  display: flex;
  z-index: 10;
  justify-content: flex-end;
  margin-right: 28%;
  align-items: flex-end;
  margin-bottom: 0;
}

.header-nav>ul>li {
  font-family: 'festivo_lcbasic';
  font-size: 40px;
  color: white;
  list-style: none;
  margin: 0 10px;
}

.spacer {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .header-nav>ul {
    margin-right: 35%;
  }
  .header-btn {
    width: 225px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 960px) {
  .phase-header-nav>ul>li {
    font-size: 28px;
  }
  .desktop-blog-link {
    font-size: 28px !important;
  }
  .mobile-blog-link {
    font-size: 28px;
  }
}

@media only screen and (max-width: 716px) {
  .spacer {
    display: block;
    width: 40px;
  }
}

@media only screen and (max-width: 648px) {
  .header-wrap {
    z-index: -10;
  }

  .header-bar {
    z-index: -15 !important;
  }

  .header-nav {
    padding-top:12px;
  }

  .header-nav>ul {
    display: flex;
    justify-content: center;
    width: 42%;
    top: 20px;
  }

  .header-nav>ul>li {
    font-size: 21px !important;
  }

  .item {
    font-size: 21px !important;
  }

  .phase-header-nav>ul {
    margin: 0;
    width: 100%;
    padding-top: 10px;
  }

  #nav-consultation-btn {
    display: none;
  }
}

@media only screen and (max-width: 1360px) {
  #nav-consultation-btn {
    font-size: 20px;
    width: 212px;
    height: 38px;   
  }
}
@media only screen and (max-width: 860px) {
  #nav-consultation-btn {
    font-size: 17px;  
  }
  .phase-header-nav {
    padding-top: 0;
  }
}

#phase-header>.np-link {
  font-family: 'festivo_lcbasic';
  font-size: 40px;
  color: white;
  list-style: none;
  margin-right: 20px;
}

.item {
  font-family: 'festivo_lcbasic';
  font-size: 40px;
  color: white;
  list-style: none;
  margin-right: 20px;
  z-index: 10;
}

#phase-header {
  margin-right: 8%;
  padding: 10px;
}

@media only screen and (min-width: 960px) {
  #phase-header {
    padding: 0;
  }
}

.header-bar {
  overflow: visible;
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 10;
}

#header-bar {
  fill: var(--main-gold);
  min-height: 120px;
}

.logo {
  position: absolute;
  right: 20;
  top: 20;
  width: 32%;
  right: 130px;
  top: 20px;
  z-index: 10;
  opacity: 1;
  animation: logo-fade-in 1.5s ease-in;
}

.mobile-logo {
  display: none;
}
.mobile-logo-wrap {
  display: none;
}
.mobile-consult-btn {
  display: none !important;
}
@media only screen and (max-width: 648px) {
  .logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    z-index: 10;
  }
  .mobile-logo-wrap {
    display: block;
    background-color: rgba(243,194,111,0.4);
  }
  .mobile-consult-btn {
    display: block;
    margin: -23px auto 20px auto !important;
  }
}

.logo>img {
  margin-bottom: 0;
}

.logo>h4 {
  color: #617884;
  font-size: 40px;
  font-weight: 100;
  font-family: 'amienneregular';
  max-width: 70%;
  margin: -20px auto 0 auto;
}

@media only screen and (max-width: 1360px) {
  .logo>h4 {
    margin-top: 2px;
    font-size: 36px;
    max-width: 86%;
  }
}
@media only screen and (max-width: 860px) {
  .logo {
    right: 16%;
  }
  .logo>h4 {
    margin: 2px auto;
    font-size: 28px;
    width: 100%;
  }
}

.phase-logo {
  position: absolute;
  right: 20;
  top: 20;
  width: 16%;
  right: 50px;
  top: 20px;
  z-index: 10;
  opacity: 1;
  animation: logo-fade-in 1.5s ease-in;
}

@keyframes logo-fade-in {
  0%   {opacity: 0; top:100px}
  100% {opacity: 1;top:20px;}
}

.jumbo {
  height: 100vh;
  top: 0;
  width: 100vw;
  min-height: 600px;
}

@media only screen and (max-width: 648px) {
  .jumbo-bkg {
    object-fit: cover;
  }
  .phase-logo {
    display: none;
  }
}

/* Bullets */

.bullet-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.bullet-row-top {
  margin: -40px auto 0 auto;
}
.homepage-bullets {
  margin: -20px 0;
}

.small-bullet {
  width: 110px;
  height: 110px;
}
.big-bullet {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 1160px) {
  .homepage-bullets {
    /* margin: 0; */
    padding: 10px 40px;
  }
  .big-bullet {
    width: 120px;
    height: 120px;
  }
}

.bullet-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.big-bullet-text {
  font-size: 24px;
  color: #617884;
  text-align: center;
}
.small-bullet-text {
  font-size: 18px;
  color: var(--main-gold);
  text-align: center;
}
@media only screen and (max-width: 648px) {
  .bullet-row-top {
    margin-top: 0;
  }
  .bullet-row {
    width: 100%;
    padding: 0 20px;
  }
  .big-bullet {
    width: 96px;
    height: 96px;
  }
  .big-bullet-text {
    font-size: 16px;
  }
  .mobile-flip-order {
    display:flex;
    flex-direction: column-reverse;
  }
}

.contain-bullets {
  width: 70%;
}

.dark-gray {
  color: #3d4f58 !important;
}

#backbone {
  opacity: 0.47;
  fill: var(--main-gold);
}
.backbone {
  overflow: visible;
  position: absolute;
  width: 800px;
  left: 200px;
  top: 0;
  z-index: -10;
  transform: matrix(1,0,0,1,0,0);
}
@media only screen and (max-width: 648px) {
  .backbone {
    width: 420px;
    left: 80px;
  }
}

#footer {
  fill: var(--main-gold);
}
.footer {
  overflow: visible;
  position: absolute;
  width: 100vw;
  bottom: 0;
  transform: matrix(1,0,0,1,0,0);
}

/* Phase Cards */

.phases-wrapper {
  margin: 20px 0;
}

.phase-card {
  padding: 10px 0;
  position: relative;
}

.phase-card-img {
  max-width: 450px;
  margin: 0 20px 0 0;
}

.phase-card-content-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 450px;
}

.phase-card>h2 {
  color: #617884;
  font-size: 96px;
  font-weight: 100;
  position: absolute;
  left: 360px;
  top: 30px;
  font-family: 'amienneregular';
}

.phase-card-copy {
  font-family: var(--para-font);
  color:#7F7F7F;
  font-size: 28px;
}

.phase-card-mobile-flip {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1168px) {
  .phase-card {
    padding: 10px 10px;
  }
  .phase-card>h2 {
    font-size: 82px;
    top: 20px;
  }
  .phase-card-copy {
    font-size: 23px;
  }
  .phase-card-img {
    max-width: 360px;
  }
}

@media only screen and (max-width: 860px) {
  .phase-card {
    padding: 10px 10px;
  }
  .phase-card>h2 {
    font-size: 54px;
    left: 320px;
    top: 0;
  }
  .phase-card-copy {
    font-size: 18px;
  }
  .phase-card-img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 648px) {
  .phases-wrapper {
    padding: 20px;
  }

  .phase-card {
    padding: 10px 0;
    position: relative;
  }
  
  .phase-card-img {
    max-width: 360px;
  }
  
  .phase-card-content-wrap {
    flex-direction: column;
  }
  
  .phase-card>h2 {
    font-size: 56px;
    font-weight: 100;
    position: static;
    text-align: center;
  }

  .phase-card-copy {
    font-size: 20px;
  }

  .phase-card-mobile-flip {
    flex-direction: column-reverse;
  }
}

/* Phase Header */ 

.mobile-blog-link {
  display: none;
}

@media only screen and (max-width: 648px) {
  .mobile-blog-link {
    display: inline-block;
    font-size: 21px;
  }
  .desktop-blog-link {
    display: none;
  }
}
/* Buttons */

.np-btn {
  width: 205px;
  height: 42px;
  background-color: var(--med-gray);
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--para-font);
  color: white;
  border: 3px solid var(--dk-gray);
  border-right: 6px solid var(--dk-gray);
  border-left: 6px solid var(--dk-gray);
  cursor: pointer;
  z-index: 10;
}

.big-btn {
  width: 255px;
  height: 46px;
  font-size: 24px;
  z-index: 100;
}

.header-btn {
  position: absolute !important;
  right: 10px;
  top: 10px;
  z-index: 200;
}

@media only screen and (max-width: 1100px) {
  .header-btn {
    width: 225px;
    font-size: 21px;
  }
}

@media only screen and (max-width: 960px) {
  .header-btn {
    width: 165px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 648px) {
  .big-btn {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 145px;
  }
}

.margin-auto {
  margin: 0 auto;
}

/* Phase Component */

.phase-wrapper {
  padding-top: 96px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.golden-phase-bkg {
  background-image: url("../images/dumbbell_lady_2025.jpg");
  background-size: cover;
}

.parenthood-bkg {
  background-image: url("../images/pregnant_lady_2023.jpg");
  background-size: cover;
}

.nutrition-bkg {
  background-image: url("../images/hungry_lady_2240.jpg");
  background-size: cover;
}
.your-new-phase {
  background-image: url("../images/towel_lady_2466.jpg");
  background-size: cover;
}

@media only screen and (max-width: 648px) {
  .phase-wrapper.golden-phase-bkg {
    background-image: none;
  }
  
  .phase-wrapper.parenthood-bkg {
    background-image: none;
  }
  
  .phase-wrapper.nutrition-bkg {
    background-image: none;
  }
  .phase-wrapper.your-new-phase {
    background-image: none;
  }
}

.phase-content {
  animation: fade-in 1.5s ease-in;
  z-index: 20;
  max-width: 680px;
  padding: 40px 20px;
  margin: 0 auto;
  min-height: 100vh;
}

.mobile-phase-bkg {
  width:100%;
  height:300px;
  display: none;
}

@media only screen and (max-width: 648px) {
  .mobile-phase-bkg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-phase-bkg>h1 {
    font-family: 'amienneregular';
    color: var(--main-gold);
  }
  .phase-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 776px) {
  .phase-content {
    width: 100%;
  }
  .contain-bullets {
    width: 100%;
  }
  .button-testimonial-wrap {
    flex-direction: column;
    align-items: center;
  }
  .button-testimonial-wrap>.big-btn {
    font-size: 24px;
    width: 70%;
  }
}

.phase-row-top {
  min-height: 160px;
}

.phase-row-bottom {
  display: flex;
  min-height: 360px;
}

.phase-row-bottom-col-l {
  width: 48%;
}

.phase-row-bottom-col-r {
  width: 48%;
}

.button-testimonial-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.phase-bullet-wrap {
  display:flex;
  justify-content: center;
}

@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.phase-copy>h2 {
  color: #F3C26F;
  font-size: 72px;
  font-weight: 100;
  font-family: 'amienneregular';
  margin-bottom: 0;
}

.phase-copy>p {
  color: #F3C26F;
  font-weight: 100;
  font-family: 'Arial';
  padding: 20px 0;
}

.phase-gray {
  color: #617884 !important;
}

.gold-then-phase-gray {
  color: #F3C26F;
}

.phase-footer {
  position: absolute;
  bottom: -95px;
}

@media only screen and (max-width: 1168px) {
  .phase-wrapper {
    padding-top: 66px;
  }
  .phase-copy>h2 {
    font-size: 62px;
  }
  
  .phase-copy>p {

  }

  .phase-bullet-wrap {
    max-width: 360px;
  }
  .small-bullet {
    width: 85px;
    height: 85px;
  }
}

@media only screen and (max-width: 648px) {
  .gold-then-phase-gray {
    color:#617884 !important;
  }
  .phase-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
  }
  .phase-bkg {
    object-fit: cover;
    position: relative !important;
  }
  .phase-bullet-wrap {
    margin: -20px auto 0 auto;
  }
  .phase-row-bottom-col-l {
    display: none;
  }
  .phase-row-bottom-col-r {
    width: 100%;
    padding: 10px 20px;
  }
  .button-testimonial-wrap {
    position: relative;
  }
  .phase-footer {
    bottom: inherit;
  }
  .testimonials {
    width: 100% !important;
    height: 54px;
    margin: 10px auto;
    z-index: 0;
    position: relative !important;
    padding: 10px;
    right: 0 !important;
  }
}

/* Testimonial Ticker */

.testimonials {
  width: 420px;
  height: 82px;
  background-color: #F9E2BB;
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--para-font);
  color: white;
  border: 5px solid #718EA4;
  border-right: 9px solid #718EA4;
  border-left: 9px solid #718EA4;
  cursor: pointer;
  z-index: -10;
  position: absolute;
  bottom: calc(50% - 41px);
  right: 230px;
  overflow-x: hidden;
}

.testimonials>p {
  margin-bottom: 0;
  color: #617884;

  /* Starting position */
  -moz-transform:translateX(50%);
  -webkit-transform:translateX(50%);
  transform:translateX(50%);
  /* Apply animation to this element */
  -moz-animation: demo-1 120s linear infinite;
  -webkit-animation: demo-1 120s linear infinite;
  animation: demo-1 120s linear infinite;
}

.center {
  margin: 0 auto;
}


 /* Move it (define the animation) */
 @-moz-keyframes demo-1 {
  0%   { -moz-transform: translateX(50%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes demo-1 {
  0%   { -webkit-transform: translateX(50%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes demo-1 {
  0%   { 
  -moz-transform: translateX(50%); /* Firefox bug fix */
  -webkit-transform: translateX(50%); /* Firefox bug fix */
  transform: translateX(50%); 
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }

/* General */

.np-link {
  color: white;
  text-decoration: none;
  /* z-index: 100; */
}

.np-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.header-wrap>nav>ul>li:hover {
  cursor: pointer;
}


@media only screen and (min-width: 640px) {
  .top-buffer {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 1160px) {
  .header-wrap>nav>ul>li {
    font-size: 34px;
    cursor: pointer;
  }
}

/* About Me */

.about-me-content {
  min-height: 600px;
  padding: 80px 40px 0 40px;
  display: flex;
}

.about-col-l {
  display: flex;
  align-items: center;
  width: 39%;
}

.about-col-r {
  width: 59%;
  padding: 60px 60px 0 20px;
}

.about-col-r>h4 {
  font-size: 21px;
}

.mobile-about-me-img {
  display: none;
}

@media only screen and (max-width: 648px) {
  .about-me-content {
    padding: 10px;
  }
  .about-col-l {
    display:none;
  }
  .about-col-r {
    width: 100%;
    padding: 10px;
  }
  .about-col-r>h1 {
    text-align: center;
  }
  .mobile-about-me-img {
    display: block;
    max-width: 340px;
    margin: 10px auto;
  }
}

/* Footer */

.footer-background {
  margin-bottom: 0;
}

/* Modal Componenent */

.modal-head {
  background-image: url('../images//popup_top.png');
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;

}

.modal-foot {
  background-image: url('../images//popup_bottom.png');
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.modal-foot>p {
  color: white;
}

.close-btn:hover {
  cursor:pointer;
}

.modal-content-wrap {
  position: relative;
  background-color: #F9E2BA;
}

.modal-logo {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 400px;
}

.nf-modal-header {
  text-align: center;
  color: white;
  padding: 6px;
}

.inputs-wrapper {
  width: 50%;
}

.speak-with-annie {
  font-size: 66px;
}


@media only screen and (max-width: 748px) {
  .speak-with-annie {
    font-size: 51px;
  }
  .modal-logo {
    width: 100px;
  }
  .inputs-wrapper {
    width: 100%;
  }
  .nf-modal-header {
    padding: 0;
    font-size: 28px;
  }
}

.festivo {
  font-family: 'festivo_lcbasic';
}

.amienne {
  font-family: 'amienneregular';
}

.full-width-btn {
  width: 100% !important;
}

/* Blog */

.blog-content {
  padding-top: 160px;
}
.blog-content>h1 {
  text-align: center;
}
/* Break Points */
/*
  Mobile: 641
  Desktop: 1168
*/